
<div class="container w-75">
	<% obj.each do |article| %>
		<div class="card text-left">
  			<div class="card-header">
  				<h5><%= link_to article.title, article_path(article), class: "font-weight-bold text-info" %></h5>
			</div>
			<div class="card-body">
			    <!-- <h5 class="card-title">Special title treatment</h5> -->
			    <p class="card-text"><%= article.deiscription %></p>
			    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			    <div class="article-meta-details mt-4">
				    <small> 
				    	Created By: <%= article.user.username if article.user %>
				    	<%= time_ago_in_words(article.created_at) %> ago,
				    	last update at: <%= time_ago_in_words(article.updated_at) %> ago
				    </small>
				</div>

			</div>
			<% if logged_in? && (currunt_user == article.user || currunt_user.admin?) %>
				<div class="card-footer">
				    <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary pt-0 pb-0" %>	
				    <%= link_to "Delete this article", article_path(article), method: :delete, 
				    					data: {confirm: "Are you sure?"},
				    					class: "btn btn-xs btn-danger pt-0 pb-0" %>
				</div>
			<% end %>
		</div>
		<br>
	<% end %>
</div>



